.form-section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(122, 73, 122);
}

.resume {
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    background-color: whitesmoke;
}

.section {
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    border-radius: 40%;
    width: 150px;
    height: 160px;
    margin-right: 20px;
}







